{
    "benchstand": {
        "file_path": "comsn10.txt",
        "word_count": 21932,
        "drop_first_n_words": 1000,
        "parallelism": [1, 2, 4, 8],
        "steps": [1, 1.5, 2, 3],
        "min_delay_between_words": 1700000,
        "max_delay_between_words": 2100000,
    },
    "remote": {
        "manager_hostname": "{{ groups['manager'][0] }}",
        "manager_port": 8081
    },
    "job": {
        "log_each": 5000,
        "mean_delay": 180000,
        "computation_delay": 1000000,
        "validation_delay": 180000,
        "bench_host": "{{ groups['bench'][0] }}",
        "source_port": 9998,
        "sink_port": 9999
    }
}