{
    "benchstand": {
        "file_path": "comsn10.txt",
        "word_count": 23864,
        "drop_first_n_words": 2000,
        "parallelism": [1, 2, 4, 8, 16],
        "bench_sleep": [1800000, 1300000, 900000, 700000, 500000],
        "num_runs": 5,
    },
    "remote": {
        "manager_hostname": "{{ groups['manager'][0] }}",
        "manager_port": 8081
    },
    "job": {
        "log_each": 5000,
        "mean_delay": 180000,
        "computation_delay": 1600,
        "validation_delay": 680,
        "bench_host": "{{ groups['bench'][0] }}",
        "source_port": 9998,
        "sink_port": 9999
    }
}