{
    "benchstand": {
        "file_path": "comsn10.txt",
        "word_count": 21932,
        "sleep_for": 200000,
        "drop_first_n_words": 1000,
    },
    "remote": {
        "manager_hostname": "{{ groups['manager'][0] }}",
        "manager_port": 8081
    },
    "job": {
        "log_each": 5000,
        "mean_delay": 180000,
        "parallelism": {{ groups['workers'] | length }},
        "merge_on_single_node": false,
        "bench_host": "{{ groups['bench'][0] }}",
        "source_port": 9998,
        "sink_port": 9999
    }
}