version: "3"
services:
  jobmanager:
    image: flink:alpine
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
      - FLINK_JM_HEAP=1024m

  taskmanager:
    image: flink:alpine
    ports:
      - "9998:9998"
      - "9999:9999"
    depends_on:
      - jobmanager
    command: taskmanager
    deploy:
      replicas: {{ num_taskmanagers }}
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
      - FLINK_TM_HEAP=1024m

# DO NOT REMOVE
# https://github.com/moby/moby/issues/27399#issuecomment-256928125
networks:
  default:
    ipam:
      config:
        - subnet: "192.168.1.0/24"
